.fileUpload .file-upload .file-info img {
    width: 100px;
}

.fileUpload .file-upload .file-info {
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid black;*/
}

.fileUpload .file-upload .file-info .file-name {
    /*padding-top: 50px;*/
}

.fileUpload .file-upload .file-info .remove-button {
    /*padding-top: 45px;*/
}

.fileUpload .files {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fileUpload .files label{
    font-weight: normal;
}